<div style="height:500px;">
<p-dataTable  [value]="courses" scrollable="true"  scrollHeight="450px" >
    <p-column field="degree" header="Degree" [style]="{'width':'15%','text-align':'center'}"></p-column>
    <p-column field="name" header="Name" filter="true" filterMatchMode="contains"  filterPlaceholder="Search" [style]="{'width':'50%'}"></p-column>
    <p-column field="durationInMonths" header="Duration in months" [style]="{'width':'10%','text-align':'center'}"></p-column>
    <p-column field="mode" header="Mode" filter="true"  filterPlaceholder="Search" [style]="{'width':'15%'}"></p-column>
    <p-column field="fee" header="Fee (INR)" [style]="{'width':'100px','text-align':'right'}"></p-column>
</p-dataTable>
</div>