<div style="text-align:left;">
  <div height="300">
  <img width="300" height="100" alt="University Logo" src="assets/images/University2.png">
  <div  *ngIf="username && username.length"  style="float:right;margin:70px 40px;width:200" >
    <span style="color:green;font-weight:bold">Welcome {{username}}</span>
    <a (click)="logout()" style="margin-left:15px;text-decoration:underline;color:blue">Logout</a>
  </div>
  <a *ngIf="! (username || username.length)" routerLink="/login"  style="float:right;margin:70px 40px;">Login</a>
  <p-menubar [model]="items"></p-menubar>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
</div>



