.container {
    padding: 16px;
}

.container-href {
    padding: 5px;
    background-color:white !important;
}

input[type=text], input[type=password] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    display: block;
}
label { display: block; width: 100px; }

.error-class{
    color:red;
    margin-left:10px;
    font-style:italic;
}