body {
		margin:0 auto;
		font-family:verdana;
		font-size:16px;
	}
	
	* {box-sizing:border-box}

.ui-menubar {
		background:#92abfe;
		padding: 7px 20px;
		height:50px;
	}

.ui-datatable-scrollable-view { width:100%}	

.container { width: 100%;}

.ui-datatable .ui-datatable-thead>tr>th, 
.ui-datatable .ui-datatable-tfoot>tr>td, 
.ui-datatable .ui-datatable-data>tr>td {
		border:2px solid #ccd1c7;
	}
	
.ui-datatable th.ui-state-default{
		background:#588e22;
		color:#fff
	}
	
.ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd { background:#f2f7ed}



	
